@model OrderDetails
@{
    ViewData["Title"] = "Completed";
}
<div style="margin:200px 100px 100px 100px; background-color:rgba(2, 188, 33, 0.41); color:#fff" class="alert" role="alert">
    <i class="fa fa-heart fa-fw"></i>
    SİPARİŞİNİZ TAMAMLANDI

</div>
<div style="margin:85px 85px 85px 85px" class="text-right">
    <a asp-controller="Order" asp-action="ShowOrder"  class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-left fa-fw"></i>Siparişler</a>
   

</div>